div {
    width: 400px;
    background-color: gainsboro;
    padding: 6px;
    margin: 20px auto;
    text-transform: capitalize;
}

.assign-2-shape-1 {
    border-left: 3px solid rgb(195, 12, 104);
    box-sizing: border-box;
}

.assign-2-shape-2 {
    visibility: hidden;
}

.assign-2-shape-3 {
    border-left: 3px solid rgb(12, 182, 134);
    box-sizing: border-box;
}